*,*::before,*::after{
    box-sizing: border-box;
}

body {
    font-family: 'Roboto','Noto Sans TC',sans-serif;
}

a {
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.container{
    max-width: 1296px;
    margin: 0 auto;
    @include pad{
        padding: 0 36px;
    }
    @include mobile {
        padding: 0 15px;
    }
}