.questions{
    padding: 96px 0 80px 0;
    @include mobile{
        position: relative;
        top:98.67px;
        padding: 40px 0 64px 0;
    }
    h2{
        font-size: 48px;
        line-height: 72px;
        font-weight: bold;
        border-left: 8px solid $primary;
        padding-left: 16px;
        margin-bottom: 32px;
        @include pad {
            font-size: 24px;
            line-height: 36px;
        }
    }
    span{
        font-weight: bold;
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 24px;
        display: inline-block;
    }
    ul{
        max-width: 856px;
        @include pad {
            max-width: 100%;
        }
        li{
            margin-bottom: 32px;
        }
        strong {
            font-weight: bold;
            display: inline-flex;
            font-size: 20px;
            line-height: 30px;
            margin-bottom: 8px;
        }
        p{
            font-size: 16px;
            line-height: 24px;
        }
    }
}