<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <section class="index">
      <div class="bg-cover">
        <div class="container">
            <div class="slogan">        
              <h2>Promise-Desert 2020 早春系列</h2>
              <strong>看得清，才能看得遠</strong>
              <a href="#">立即購買</a></div>
          </div>
      </div>
    </section>


    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
